body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #4facfe, #02090a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.chatContainer {
  width: 60%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.roomTitle {
  background: #4facfe;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.messages {
  flex: 1;
  padding: 10px;
  background: #94a191;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.message strong {
  font-weight: bold;
}

.message.received {
  background: #e8f0fe;
  align-self: flex-start;
}

.message.sent {
  background: #d0ffe7;
  align-self: flex-end;
}

.messageInput {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #d1d5db;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.messageInput input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.messageInput input:focus {
  border-color: #4facfe;
  outline: none;
}

.messageInput button {
  padding: 10px 20px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.messageInput button:hover {
  background: #3791f5;
}
